<!-- templates/confirmation.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>Confirm your Email</title>
</head>
<body>
  <h1>Hello {{name}}!</h1>
  <p>Thank you for registering. Please confirm your email by enter code</p>
  <h1>Confirmation Code {{code}}</h1>
</body>
</html>